*{
    box-sizing: border-box;
}

:root {
    --azul:#69DAE5;
    --lila: #7EADFB;
    --verde: #98EE86;
    --rosa:#E97CE9;
    --amarillo:#FBEB60;
    --rosa-fuerte:#FF69B5;
    --naranja:#FF8C6D;
    --durazno:#FFAF51;

    --blanco:#ffffff;
    --negro:#333333;
}

body{
    font-family: 'Poppins' , sans-serif;
}

.productos{
    width: 95%;
    max-width: 1400px;

    margin: 0 auto;

    padding: 20px;

    display: grid;
    grid-template-columns: repeat(2,1fr);

    gap: 70px;

    box-sizing: border-box;

   margin-left: 60px;
}

.producto-horizontal{
    width: 100%;
    height: 290px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    grid-template-columns: 170px 334px 20px;

    column-gap: 15px;

    padding: 15px;

    background: #f5f0e6;

    border: 3px solid var(--rosa);
    border-radius: 15px;

    align-items: center;
}

*{
    box-sizing: border-box;
}

.producto-img img{
    width: 260px;
    height: 170px;

    object-fit: cover;

    border-radius: 15px;
}
.producto-info{
    display: flex;
    margin-left: -5px;
    flex-direction: column;
    justify-content: center;
    
    padding: 8px;
    gap: 5px;
    flex: 1;
}

.producto-info h2{
    font-family: 'Poppins' , sans-serif;
    margin-top: 10px;
    font-size: 1.6rem;
    font-weight: 600;
}

.precio{
    color: #ff4d4d;
    margin-top: -5px;
    font-size: 1.4rem;
    font-weight: 900;
}

.kits{
    display: flex;
    flex-direction: column;

    gap: 2px;
}

.kits p{
    margin: 0;
    line-height: 1.2;
    font-size: 0.95rem;
    white-space: nowrap;
}

.producto-extra{
    border-left: 3px solid rgb(83, 225, 250);
    padding-left: 15px;
    font-weight: bold;
    margin-top: 10px;
    margin-right: 50px;
}

.selector-kit{
    width: 180px;
    padding: 6px;

    border-radius: 8px;
    border: 1px solid #ccc;

    font-size: 0.9rem;
}

.card-producto{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn-carrito{

    margin-top: 15px;

    background: #f78acb;
    color: white;

    border: none;

    padding: 12px 25px;

    border-radius: 30px;

    font-weight: bold;

    cursor: pointer;
}

.opcion{
    cursor: pointer;
    padding: 5px;
    border-radius: 8px;
    transition: 0.2s;
}

.opcion:hover{
    background: #ff6fa5;
    color: white;
}

.opcion{
    cursor: pointer;
    transition: .3s;
}

.opcion.active{
    background: #ff4d6d;
    color: var(--blanco);
    border-radius: 10px;
    padding: 5px;
}

