:root {
    --azul:#69DAE5;
    --lila: #7EADFB;
    --verde: #98EE86;
    --rosa:#E97CE9;
    --amarillo:#FBEB60;
    --rosa-fuerte:#FF69B5;
    --naranja:#FF8C6D;
    --durazno:#FFAF51;

    --blanco:#ffffff;
    --negro:#333333;
}

.main-header{

    position: fixed;
    top: 0;
    left: 0;

    width: 100%;

    display: block;

    padding: 0;   /*investigar por que se miden asi los pixeles*/
    z-index: 1000;
}

/*Carrito*/

.cart{

    font-size:22px;

    cursor:pointer;
}

/*BODY DE INDEX.HTML*/

.home-page{
    margin: 0;
    padding-top: 80px;
}

header {
    background: white;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

header h1 {
    margin: 0;
    color: #333;
}

.CRAYOLAS {
    position: absolute;
    bottom: 20px;
    left: 20px;
    width: 120px;
}

.crayola-text span:nth-child(1){color: #ff595e; }
.crayola-text span:nth-child(2){color: #ffca3a; }
.crayola-text span:nth-child(3){color: #8ac926; }
.crayola-text span:nth-child(4){color: #1982c4; }
.crayola-text span:nth-child(5){color: transparent; } /*espacio*/
.crayola-text span:nth-child(6){color: #6a4c93; }
.crayola-text span:nth-child(7){color: #ff595e; }
.crayola-text span:nth-child(8){color: #ffca3a; }
.crayola-text span:nth-child(9){color: #8ac926; }
.crayola-text span:nth-child(10){color: #1982c4; }
.crayola-text span:nth-child(11){color: #6a4c93; }
.crayola-text span:nth-child(12){color: #ff595e; }

@keyframes bounce{
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}

.btn-entrar {
    background: linear-gradient(
        45deg,
        var(--rosa-fuerte),
        var(--naranja)
    );

    padding: 14px 30px;
    border-radius: 30px;

    font-size: 1rem;
    font-weight: bold;

    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);

    cursor: pointer;
    transition: 0.3s;
}

.btn-entrar:hover{
    transform: scale(1.05);
}

.logo-container{
    width: 100%;
    text-align: center;
    margin-top: 10px;
}

.logo-container img{
    width: 180px;
}

.slider-box {
    flex: 1;
    width: 100%;
    height: 350px;

    position: relative;
    overflow: hidden;
    border-radius: 25px;

    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);

    cursor: pointer;
}

.slide {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    object-fit: cover;
    object-position: center;

    opacity: 0;
    transition: opacity 1s ease;
}

.cover-img{
    position: absolute;
    width: 100%;
    height: 100%;

    object-fit: cover;
    border-radius: 25px;

    z-index: -1;
}

.slide.active {
    opacity: 1;
}

.slide-text {
    position: absolute;
    bottom: 20px;
    left: 20px;

    background: rgba(0, 0, 0, 0.5);
    color: white;

    padding: 10px 15px;
    border-radius: 10px;

    font-size: 1.1rem;
}

.slider-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;

    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    
}

.color-colecciones {
    font-size: 2.5rem;
    font-weight: bold;

    background: linear-gradient(
        90deg,
        var(--rosa-fuerte)
        var(--naranja)
        var(--amarillo)
        var(--verde)
        var(--azul)
    );
}

.divider {
    width: 60%;
    margin: 40px auto;

    border: none;
    height: 2px;

    background: linear-gradient(to right, transparent, #ff8fab, transparent);
}

.card-cover{
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    border-radius: 25px;
    overflow: hidden;

    z-index: 3;

    transition: transform 0.6s cubic-bezier(0.22, 1, 0.36, 1);
}

.card-cover h3{
    font-size: 20px;
    font-weight: 600;
    color: #333;
}

.card-cover img{
    width: 100%;
    height: 100%;
    object-fit: cover;

    object-position: top;
}

.slider-box:hover .card-cover {
    transform: translateY(-100%);
}

.slider-box:nth-child(1) .card-cover { background: #ff8fab;}
.slider-box:nth-child(2) .card-cover { background: #fff475;}
.slider-box:nth-child(3) .card-cover { background: #a0c4ff;}
.slider-box:nth-child(4) .card-cover { background: #caffbf;}

.nav-links {
    display: flex;
    justify-content: center;

    gap: 150px;

    width: 100%;

    margin-top: 10px;

    position: relative;
    left: 30px;
}

.nav-links a {
    text-decoration: none;

    background: var(--blanco);
    color: var(--texto);

    padding: 10px 22px;
    border-radius: 25px;

    font-weight: 600;
    font-family: 'Fredoka' , sans-serif;
    
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);

    transition: all 0.3s ease; 

   display: inline-block;
}

.nav-links a:hover{
    background: var(--rosa-fuerte);
    color: white;

    transform: translateY(-3px) scale(1.05);
}

.top-header{
    display: flex;
    align-items: center;
    justify-content: space-between;

    background: white;
    padding: 15px 40px;
}

.left, .right {
    width: 100px;
    display: flex;
    align-items: center;
}

.left {
    justify-content: flex-start;
}

.right {
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    gap: 35px;
}

.center {
    flex: 1;
    text-align: center;
}

.center img {
    height: 60px;
    object-fit: contain;
}

.linea-rosa{
    width: 100%;
    height: 70px;

    background: linear-gradient(
        90deg,
        var(--amarillo),
        var(--durazno),
        var(--rosa-fuerte)
    );

    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
    z-index: 10;
}

.wave{
    position: relative;
    z-index: 5;

    margin-bottom: -60px;
    padding-bottom: 5px;
}

.wave svg{
    width: 100%;
    height: 80px;
    display: block;

    transform: rotate(180deg);

    filter:
        drop-shadow(0px 8px 10px rgba(0,0,0,0.15))
        drop-shadow(0px 20px 25px rgba(0,0,0,0.8));

    margin-top: -2px;
}

.btn-productos{
    position: relative;
    z-index: 3;
    margin-top: 570px;

    padding: 18px 40px;

    background: linear-gradient(
        90deg,
        var(--rosa-fuerte),
        var(--durazno)
    );

    color: white;
    border: none;

    border-radius: 25px;
    font-weight: 600;
    font-size: 18px;

    cursor: pointer;

    transition: all 0.3s ease;
}

.btn-productos:hover{
    transform: translateY(-3px);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.15);
}


@media (max-width: 768px) {

    .nav-links {
        display: flex;
        overflow-x: auto; /*permite deslizar*/
        gap: 150px;

        padding: 10px;

        justify-content: flex-start; /*importante*/
    }

    .nav-links a {
        flex: 0 0 auto; /*evita que se encojan*/
        font-size: 0.9rem;

        padding: 6px 12px;
    }

    /* HEADER más compacto */
    .top-header {
        padding: 10px 20px;
    }

    .center img {
        height: 60px;
    }

    .linea-rosa {
    height: auto;
    padding: 10px 0;
    }
}

.fondo-img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    object-fit: cover;

    z-index: 0;
    filter: contrast(1.05) saturate(1.1);
}

.seccion-inicio{
    position: relative;
    width: 100%;
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;
}

.contenido-inicio{
    position: relative;
    z-index: 2;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    text-align: center;
}

.titulo-colecciones{
    position: relative;
    z-index: 5;

    text-align: center;
    margin-bottom: 40px;
}

.titulo-colecciones img{
    width: 320px;
}

.seccion-colecciones{
    position: relative;
    width: 100%;
    min-height: 800px;

    display: flex;
    flex-direction: column;
    align-items: center;

    justify-content: flex-start;

    padding-top: 80px;

    overflow: hidden;

    margin-bottom: 0;
    
}

.fondo-colecciones{
    position: absolute;
    bottom: 20px;

    left: 0;
    width: 100%;
    height: auto;

    z-index: 1;
    pointer-events: none;
}

.slider-container{
    position: relative;
    z-index: 5;

    width: 100%;
    max-width: 1200px;

    margin: 0 auto;

    display: flex;
    justify-content: center;
    gap: 30px;

    flex-wrap: wrap;
}

.productos-slider {
    overflow: hidden;
    padding: 20px;

    margin-top: 20px;
}

.slider-track {
    display: flex;
    gap: 30px;

    width: max-content;

    animation: scroll 30s linear infinite;
}

.titulo-slider {
   width: 100%;
   height: 60px;

   display: flex;
   align-items: center;

   background: var(--azul);

   padding-left: 20px;

   margin: 0;
}

.titulo-slider span {

    color: white;
    font-weight: 600;
    font-size: 28px;
}

.titulo-slider::after {
    content: "";
    flex: 1;
    height: 2px;

    background: #7ee0d6;
    margin-left: 15px;
}

.producto {
    min-width: 140px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    transition: 0.3s;
}

.producto:hover img{
    transform: scale(1.05);
}

.producto p{
    font-family: 'Fredoka', sans-serif;
    font-size: 0.9rem;

    margin-top: 8px;
    color: #444;

    background: transparent;
    box-shadow:none;
    padding: 0;
}

.producto img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 15px;

    transition: 0.3s;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}

/* ICONOS más pequeños */
.right i, .left i {
    font-size: 1rem;
}

body {
    font-family: 'Fredoka', sans-serif;
    background-color: var(--blanco);
    color: var(--texto);
}

h1,h2,h3{
    font-family: 'Pacifico', cursive;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

button {
    font-family: 'Fredoka', sans-serif;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    background-color: var(--rosa-fuerte);
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

button:hover{
    background-color: var(--naranja);
}

.seccion-sobre{
    background: url("../IMGA/fondo-sobre.jpeg") no-repeat center 70%;
    background-size: cover;

    height: 100vh;
    padding: 80px 40px;

    display: flex;
    align-items: center;

    margin-top: -18px;
}

/*CONTENIDO ENCIMA*/

.contenido-sobre{
    position: relative;
    z-index: 2;

    max-width: 600px;

    margin-left: 250px;
    margin-top: 250px;

    background: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(5px);

    padding: 30px;
    border-radius: 20px;
}

.contenido-sobre h2{
    font-size: 2.2rem;
    font-size: 600;
    letter-spacing: 1px;
    margin-bottom: 15px;
    color: var(--rosa);
}

.contenido-sobre p{
    font-size: 1.6rem;
    line-height: 1.6;
    color: #444;
}

