*{
    box-sizing: border-box;
}

.login-page{
    margin: 0;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #f5f5f5;

    /*fondo cuadriculado*/

    background-image:
    linear-gradient(#ddd 1px, transparent 1px), 
    linear-gradient(90deg,#ddd 1px, transparent 1px);

    background-size: 30px 30px;
    font-family: Arial;
}

body::before{

    content:"";

    position: absolute;

    width: 300px;
    height: 300px;

    background: #ffd6e8;

    border-radius: 50%;

    top:18%;
    left:12%;

    filter: blur(40px);

    z-index: -1;
}

body::after{

    content:"";

    position: absolute;

    width: 250px;
    height: 250px;

    background: #d8f0ff;

    border-radius: 50%;

    bottom:15%;
    right:15%;

    filter: blur(20px);

    z-index: -1;
}




/*TARJETA*/

.login-container{
    position: relative;

    width: 320px;
    padding: 40px;

    background: white;

    border-radius: 18px;

    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.15);

    animation: cardFaceIn 0.7s ease;

    z-index:1;
}

/*inputs*/

input{
    width: 100%;
    padding: 12px;

    margin: 10px 0;
                                /*AJUSTAR TAMAÑO PARA QUE NO SE VEA MUY LARGO*/
    border: 2px solid #ddd;

    border-radius: 6px;

    outline: none;
    transition: all 0.3s ease;
}

/*efecto focus / cuando se hace click*/

.login-container input:focus{
    border-color: #ff6fa5;

    box-shadow: 0 0 3px rgba(255, 105, 180, 0.4);

    transform: scale(1.02);
}

/* button */

button{
    width: 100%;
    padding: 12px;

    border: none;
    border-radius: 6px;
    background: #ff6fa5;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
}

button:hover{
    background: #ff4f8b;
    transform: translateY(-2px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.social-login{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.social-login button{
    width:50px;
    height:50px;

    border: none;
    border-radius: 50px;

    font-size: 20px;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
}

/*botón google*/

.google-btn{
    background: black;
    color: white;
}

/*botón Apple*/

.apple-btn{
    background: black;
    color: white;
}

.page-title{
    position: absolute;

    top:10px;
    left:50%;
                                
    transform: translateX(-50%);

    font-size: 42px;

    font-weight:700;

    letter-spacing: 2px;
}

.divider-login{
    display: flex;
    align-items: center;

    margin: 25px 0;
    width: 100%;
}

.divider-login::before,
.divider-login::after{

    content: "";
    flex: 1;

    height: 1px;
    background: #888;
}

.divider-login span{
    margin: 0 10px;

    font-size:15px;
    color: #555;
}

.guest-btn{
    width: 100%;

    margin-top: 20px;
    padding: 12px;

    border-radius: 6px;

    border: 2px solid #aaa;

    background: transparent;

    color: #333;

    font-size: 14px;

    cursor: pointer;

    transition: all 0.3s ease;
}

.guest-btn:hover{
    background: #eee;
    border-color: #777;
}

.password-container{

    position: relative;
    width: 100%;

}

.password-container input{
    width: 100%;
    padding: 12px;
    padding-right: 40px; /*espacio para el icono */

    border:2px solid #ddd;
    border-radius: 6px;
}

/*icono del ojo*/

.toggle-password{           /*investigar por que si funciona eso si lo tenia con class*/
    position: absolute;

    right:12px;
    top: 50%;

    transform: translateY(-50%);

    cursor: pointer;

    color: #666;

    font-size:16px;

}

.password-container:focus-within input{    /*investigar para que sirve el within*/

border-color: #ff6fa5;
box-shadow: 0 0 8px rgba(255, 105, 180, 0.4);

}

@keyframes cardFaceIn{
    
    from{

        opacity:0;
        transform: translateY(30px) scale(0.95);

    }
                                /*Agregar esto completo a los apuntes*/
    to{

        opacity: 1;
        transform: translateY(0) scale(1);
    }

}

.login-container::before{

    content:"";

    position: absolute;

    inset:-8px;

    border-radius:22px;

    border:8px solid transparent;

    background: 
    linear-gradient(white,white) padding-box,
    linear-gradient(
        45deg,
        #ff5fa2,
        #ffd93d,
        #6bcBef,
        #c77dff
    )border-box;

    z-index:-1;            /*investigar tambien que es esto*/
}

.main-header{

    position: fixed;
    top: 0;
    left: 0;

    width: 100%;

    display: block;

    padding: 0;   /*investigar por que se miden asi los pixeles*/
    z-index: 1000;
}

/*Carrito*/

.cart{

    font-size:22px;

    cursor:pointer;
}

/*BODY DE INDEX.HTML*/

.home-page{
    margin: 0;
    padding-top: 80px;
}

.postit-fixed{
    position: fixed;
    bottom: 30px;
    right: 30px;

    width: 180px;

    background: #fff475;
    padding: 15px;                             
    border-radius: 10px;

    box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.25);

    transform: rotate(-4deg);
    z-index: 1000;

    transition: all 0.3s ease;
}

/*efecto hover*/
.postit-fixed:hover {
    transform: rotate(0deg) scale(1.05);
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Comic Sans MS' , cursive;

    background-color: #fff;

    /*lineas tipo cuaderno*/

    background-image: repeating-linear-gradient(
        to bottom,
        #ffffff,
        #ffffff 24px,
        #4a90e2 25px
    );
}

header {
    background: white;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

header h1 {
    margin: 0;
    color: #333;
}

:root {
    --amarillo: #fff475;
    --rosa: #ff8fab;
    --azul: #a0c4ff;
    --verde: #caffbf;
}

.CRAYOLAS {
    position: absolute;
    bottom: 20px;
    left: 20px;
    width: 120px;
}

.crayola-text span:nth-child(1){color: #ff595e; }
.crayola-text span:nth-child(2){color: #ffca3a; }
.crayola-text span:nth-child(3){color: #8ac926; }
.crayola-text span:nth-child(4){color: #1982c4; }
.crayola-text span:nth-child(5){color: transparent; } /*espacio*/
.crayola-text span:nth-child(6){color: #6a4c93; }
.crayola-text span:nth-child(7){color: #ff595e; }
.crayola-text span:nth-child(8){color: #ffca3a; }
.crayola-text span:nth-child(9){color: #8ac926; }
.crayola-text span:nth-child(10){color: #1982c4; }
.crayola-text span:nth-child(11){color: #6a4c93; }
.crayola-text span:nth-child(12){color: #ff595e; }

@keyframes bounce{
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}

.crayola-text {
    font-size: 3rem;
    font-weight: bold;
    letter-spacing: 2px; /*importante*/
}

.crayola-text span {
    display: inline-block;
    animation: bounce 0.6s infinite;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.1);
}

.crayola-text span:nth-child(1){animation-delay: 0s; }
.crayola-text span:nth-child(2){animation-delay: 0.1s; }
.crayola-text span:nth-child(3){animation-delay: 0.2s; }
.crayola-text span:nth-child(4){animation-delay: 0.3s; }
.crayola-text span:nth-child(5){animation-delay: 0.4s; }
.crayola-text span:nth-child(6){animation-delay: 0.5s; }
.crayola-text span:nth-child(7){animation-delay: 0.6s; }
.crayola-text span:nth-child(8){animation-delay: 0.7s; }
.crayola-text span:nth-child(9){animation-delay: 0.8s; }
.crayola-text span:nth-child(10){animation-delay: 0.9s; }
.crayola-text span:nth-child(11){animation-delay: 1s; }
.crayola-text span:nth-child(12){animation-delay: 1.1s; }


body {
    margin: 0;
    font-family: 'Comic Sans MS' , cursive;
}

.banner {
    width: 90%;
    height: 300px;

    margin: 50px auto;

    border-radius: 20px;

    background: linear-gradient(135deg, #fff475, #a0c4ff);

    display: flex;
    justify-content: center;
    align-items: center;

    box-shadow:0 10px 25px rgba(0, 0, 0, 0.2);

    position: relative;
    overflow: hidden;

}

.banner::before {
    content: "";
    position: absolute;

    width: 100%;
    height: 100%;

    background-image: url("IMGA/FONDOINDEX.jpeg");
    background-size: cover;
    background-position: center;

    opacity: 0.2;
}

.banner-content {
    position: relative;
    text-align: center;
    z-index: 2;
}

.banner-content h1{
    margin: 0;
    font-size: 2.5rem;
}

.banner-content p{
    margin: 45px 0;
    margin-top: -5px;
    font-size: 1.2rem;
}

.btn-entrar {
    padding: 10px 20px;
    background: #ff595e;
    color: white;

    border: none;
    border-radius: 20px;

    cursor: pointer;
    transition: 0.3s;
}

.btn-entrar:hover{
    transform: scale(1.1);
}

.logo-container{
    width: 100%;
    text-align: center;
    margin-top: 10px;
}

.logo-container img{
    width: 180px;
}

.slider-box {
    width: 380px;
    height: 350px;

    position: relative;
    overflow: hidden;
    border-radius: 20px;

    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

.slide {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    object-fit: cover;
    object-position: center;

    opacity: 0;
    transition: opacity 1s ease;
}

.slide.active {
    opacity: 1;
}

.slide-text {
    position: absolute;
    bottom: 20px;
    left: 20px;

    background: rgba(0, 0, 0, 0.5);
    color: white;

    padding: 10px 15px;
    border-radius: 10px;

    font-size: 1.1rem;
}

.slider-container{
    display: flex;
    justify-content: center;
    gap: 30px;

    flex-wrap: wrap; /*esto evita que se bajen*/
}

.colecciones{
    text-align: center;
    padding: 60px 20px;
}

.titulo-seccion{
    font-size: 2.5rem;
    text-align: center;
    position: relative;
    display: inline-block;
    margin-bottom: 60px;

}

.titulo-seccion::after{
    content: "";
    position: absolute;

    left: 0;
    bottom: 5px;

    width: 100%;
    height: 12px;

    background: #fff475;
    z-index: -1;

    border-radius: 5px;
}

.divider {
    width: 60%;
    margin: 40px auto;

    border: none;
    height: 2px;

    background: linear-gradient(to right, transparent, #ff8fab, transparent);
}

.card-cover{
    position: absolute;
    width: 100%;
    height: 100%;

    background: #ff8fab;
    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 3;

    transition: transform 0.6s cubic-bezier(0.22, 1, 0.36, 1);
}

.card-cover h3{
    color: black;
    font-size: 1.2rem;
    text-align: center;
}

.slider-box:hover .card-cover {
    transform: translateY(-100%);
}

.slider-box:nth-child(1) .card-cover { background: #ff8fab;}
.slider-box:nth-child(2) .card-cover { background: #fff475;}
.slider-box:nth-child(3) .card-cover { background: #a0c4ff;}
.slider-box:nth-child(4) .card-cover { background: #caffbf;}

.nav-links {
    display: flex;
    justify-content: center;
    gap: 250px;
    width: 100%;
}

.nav-links a {
    text-decoration: none;

    background: white;
    color: #333;

    padding: 10px 22px;
    border-radius: 25px;

    font-weight: 600;
    font-family: 'Poppins' , sans-serif;
    
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);

    transition: all 0.3s ease; 

   display: inline-block;
}

.nav-links a:hover{
    background: #ff8fab;
    color: white;

    transform: translateY(-3px) scale(1.05);
}

.top-header{
    display: flex;
    align-items: center;
    justify-content: space-between;

    background: white;
    padding: 15px 40px;
}

.left, .right {
    width: 100px;
    display: flex;
    align-items: center;
}

.left {
    justify-content: flex-start;
}

.right {
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    gap: 35px;
}

.center {
    flex: 1;
    text-align: center;
}

.center img {
    height: 50px;
}

.linea-rosa{
    width: 100%;
    height: 50px;

    background: linear-gradient(90deg,#ff9a9e,#fad0c4);

    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 5px;
}

